*{
    margin: 0;
    padding: 0;
    

}
body{
    background-color: darkgray;
}
.card{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 5em;
    margin: 5%;
    
} 
img{
    width: 100%;
    height: 100%;
    margin: 2%;
    border-radius: 3em;
}  
